.option {
    padding: 5px;
    cursor: pointer;
}

.option:hover {
    background-color: lightgrey;
    transition: background-color 50ms ease-in-out;
    border-radius: 4px;
}

input[type="text"], textarea {
    min-width: 95%;
    margin-right: 4px;
}

input[type="number"] {
    min-width: 10%;
    margin-right: 4px;
}

textarea {
    width: 500px;
    box-sizing: border-box; /* Ensure the textarea takes the full width */
    margin-top: 5px;
    padding: 5px;
    font-size: 14px;
    resize: vertical; /* Allow vertical resize */
}

legend {
    background-color: #0000007d;
    color: #fff;
    padding: 3px 6px;
  }
