.option {
    padding: 5px;
    cursor: pointer;
}

.option:hover {
    background-color: lightgrey;
    transition: background-color 50ms ease-in-out;
    border-radius: 4px;
}

input[type="text"], input[type="number"], textarea {
    min-width: 40%;
    margin-right: 4px;
}

textarea {
    width: 100%;
    box-sizing: border-box; /* Ensure the textarea takes the full width */
    margin-top: 5px;
    padding: 5px;
    font-size: 14px;
    resize: vertical; /* Allow vertical resize */
}
