/* General Option Styling */
.option {
    padding: 5px;
    cursor: pointer;
}

.option:hover {
    background-color: rgba(237, 237, 237, 0.498);
    transition: background-color 50ms ease-in-out;
    border-radius: 4px;
}

.option output {
    vertical-align: -0.5px;
    /* Aligns the output element vertically */
    display: inline-block;
    /* Ensures the output element respects the vertical alignment */
    /* Add any additional styling you want for the output */
}

/* Align text with radio buttons and checkboxes */
input[type="radio"],
input[type="checkbox"] {
    vertical-align: 0px;
}

legend {
    font-weight: bold;
}

fieldset {
    border: none;
}

label {
    vertical-align: top;
}

/* Align only the modifiedKey label */
.align-label {
    margin-left: 4px;
    display: inline-block;
}

.align-label-1 {
    margin-left: 9px;
    display: inline-block;
}

/* Input and Textarea Styling */
input[type="text"],
input[type="number"],
textarea {
    min-width: 40%;
}

textarea {
    min-width: 600px;
    width: 100%;
    box-sizing: border-box;
    /* Ensure the textarea takes the full width */
    margin-top: 5px;
    padding: 5px;
    font-size: 14px;
    resize: vertical;
    /* Allow vertical resize */
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #1c1c1c;
        color: #b0b0b0;
    }

    .option {
        background-color: #2c2c2c;
        color: #b0b0b0;
    }

    .option:hover {
        background-color: #3c3c3c;
    }

    .option output {
        background-color: #2c2c2c;
        color: #b0b0b0;
    }

    input[type="text"],
    input[type="number"],
    textarea {
        background-color: #2c2c2c;
        color: #b0b0b0;
        border: 1px solid #444;
    }

    textarea {
        border: 1px solid #444;
    }

    legend {
        color: #b0b0b0;
    }
}
